@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --clr-body: #22252c;
    --clr-nav1: #30bb72;
    --clr-nav2: #0f9bb4;
}

/* helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

/* BASICS */

* {
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}

html {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 15px 10px;
    background-color: var(--clr-body);
    height: 100vh;
    margin: 0;
    gap: 15px;
}

button {
    cursor: pointer;
}

a {
    font-size: 21px;
    text-align: center;
    text-decoration: none;
}

.download,
.editor button {
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    color: #22252c;
    font-size: 30px;
}

/* MAIN HEADER */

.main-header {
    background: linear-gradient(90deg, var(--clr-nav2), var(--clr-nav1));
    color: #eaeaea;
    padding-inline: 50px;
    border-radius: 20px;
    border-radius: 37px;
    height: max-content;
}

.header-container {
    height: inherit;
    justify-content: space-between;
    position: relative;
}

/* logo */

.logo {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    margin-block: 28px;
}

/* navigation */

.main-nav {
    gap: 20px;
}

.main-header .main-nav button {
    background-color: transparent;
    font-family: inherit;
    border-radius: 20px;
    border: 0;
    color: #eaeaea;
    padding: 10px 20px;
    font-size: 21px;
}

.main-header .main-nav button:hover {
    background-color: white;
    color: #21ac91;
}

/* MAIN SECTION */

/* gallery */

.gallery {
    background-color: #383b42;
    padding: 25px;
    border-radius: 10px;
}

.gallery .search {
    height: 58px;
}

.gallery .search-input {
    flex-basis: 49%;
    background-color: #22252c;
    color: grey;
    border-radius: 29px;
    padding-inline-start: 50px;
    font-size: 21px;
    font-family: inherit;
    border: 0;
}

.gallery .search-buttons {
    flex-basis: 49%;
    background-color: #87898d;
    padding-inline: 35px;
    border-radius: 29px;
    justify-content: space-around;
}

.gallery .search-buttons button {
    background-color: transparent;
    border: 0;
    color: #fefefe;
    font-size: 18px;
    font-family: inherit;
}

.gallery .images-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery .images-container img {
    margin: 30px;
    border-radius: 15px;
    width: 200px;
    object-fit: cover;
}

.gallery .images-container img:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* editor */

.editor {
    background-color: transparent;
    justify-content: space-evenly;
}

.editor .canvas-container {
    background-color: #383b42;
    flex-basis: 48%;
    border-radius: 30px;
}

.editor .editor-mode {
    background-color: #383b42;
    flex-basis: 48%;
    padding: 24px 40px;
    border-radius: 30px;
    /* gap: 20px;
    justify-content: center; */
}

.editor .editor-mode .text {
    background-color: #ebeef3;
    border-radius: 29px;
    border: 0;
    color: #3d3d3d;
    font-size: 25px;
    text-align: center;
    padding-block: 20px;
    box-shadow: 0 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

.editor .editor-mode .text:focus {
    outline: none;
    box-shadow: 1px 5px 0 var(--clr-nav1), inset 0 5px 0 var(--clr-nav2);
}

.editor .editor-mode > *:not(input) {
    margin-inline: auto;
    justify-content: space-evenly;
    gap: 10px;
}

.editor .editor-mode .buttons-text-secondary {
    width: 100%;
    flex-wrap: wrap;
}

.editor .editor-mode .share-buttons a {
    background-color: buttonface;
    color: #22252c;
}

canvas {
    border-radius: 29px;
}

.memes {
    background-color: #383b42;
    padding: 25px;
    border-radius: 10px;
}

.memes img {
    margin: 30px;
    border-radius: 15px;
    width: 200px;
    /* height: 150px; */
    object-fit: cover;
}

.memes img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.fa-small {
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    .download,
    .editor button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .editor .editor-mode .buttons-text-secondary input {
    }
}

@media screen and (max-width: 800px) {
    .editor {
        flex-direction: column;
        gap: 20px;
    }
    .download,
    .editor-mode button {
        width: 55px;
        height: 55px;
        font-size: 30px;
    }
    .editor-mode {
        gap: 30px;
    }
}
